@model UsersModel;
@*Bloco de código MVC*@
@{
    // Setar o título da página
    ViewData["Title"] = "Usuários";
}
<div class="text-center">
    <h3>User</h3>
    <a type="button" class="btn btn-primary float-end" asp-controller="User" asp-action="Add">Novo</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>CPF</th>
                <th>Email</th>
                <th>Access Level</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Name</td>
                    <td>@user.CPF</td>
                    <td>@user.Email</td>
                    <td>@user.Password</td>
                    <td>@user.AccessLevel</td>
                </tr>
            }
        </tbody>
    </table>
</div>