@model CountFocusesModel
@{
    ViewData["Title"] = "Mapa de focos";
    Layout = "~/Views/Shared/_LayoutMap.cshtml";
}
<head>
    <title>Focos no mapa</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <div id="map" style="height: 80vh; width: 100%;"></div>

    <script>
        var bounds = L.latLngBounds([-26.72644, -49.06737], [-26.9741, -49.0760]);
        var map = L.map('map', {
            center: [-25.94937, -49.071685],
            zoom: 11.5,
            maxBounds: bounds,
            maxBoundsViscosity: 1
        });

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; OpenStreetMap contributors'
        }).addTo(map);

        window.addEventListener('load', function () {
            console.log('Página carregada');
            cidadesJSON = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.MapData))';
            //console.log(cidadesJSON)
            cidades = JSON.parse(cidadesJSON);
            manipuladorDeMapa.Listar()
        });
    </script>

    <div class="informations w-75">
        <div class="container" style="border: 2px black solid; width: 100%">
            <div class="row thead">
                <div class="col">
                    <div class="title">BAIRROS</div>
                </div>
                <div class="col">
                    <div class="title">FOCOS</div>
                </div>
                <div class="col">
                </div>
            </div>
            @foreach (var focus in Model.CountFocus)
            {
                <div class="row">
                    <div class="col inside neighborhood">@focus.Neighborhood</div>
                    <div class="col inside focos">@focus.Counts</div>
                    <div class="col inside"><progress style="background-color: white" class="progress-bar" value="@focus.Counts" max="@Model.TotalFocus"></progress></div>
                </div>
            }
            <div class="row thead">
                <div class="col">
                    <div class="title">TOTAL DE FOCOS</div>
                </div>
                <div class="col">
                    <div class="title">@Model.TotalFocus</div>
                </div>
                <div class="col">
                    <div class="col"><progress style="background-color: #2F3C33" class="progress-bar" value="@Model.TotalFocus" max="@Model.TotalFocus"></progress></div>
                </div>
            </div>
        </div>
    </div>
</body>